.first-section-gradient {
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.vector-image-container {
  background: url("../assets/vector.png") no-repeat center center / cover;
}

.first-gradient {
  background: linear-gradient(271.08deg, #dddddd63 3.72%, #d0cfcf 136.16%);
}

.second-gradient {
  background: linear-gradient(271.08deg, #495c8a 3.72%, #001859 56.96%);
}

.card-gradient {
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0) 20.06%,
    #001242 77.76%
  );
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
}
.client-card-gradient {
  background: linear-gradient(111.08deg, #001242 20.88%, #bbcdf9 171.35%);
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
}

.footer-gradient {
  background: linear-gradient(180deg, #001242 0%, #004775 211.41%);
}
.custom-height {
  height: calc(100vh - 15rem);
}

.line-clamp-14 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 14;
}
